/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


/* Styles for the form */
form {
    width: 400px;
}


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}


/* Table cells */
td {
    vertical-align: top;
    padding: 10px;
}


/* Styles for labels */
label {
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
}


/* Styles for text inputs and selects */
input[type="text"],
select {
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}


/* Buttons */
.button {
    padding: 8px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #49876b;
}

.button:hover {
    background-color: #45a049;
}


/* Warning Messages */
.warning {
    color: red;
}

.warning::before {
    content: "* ";
}
